(!!!
 (h= :html
     (h= :head
         (h= :title "Worst demo ever"))
     (h= :body
         (h= :h1#title "I'm a framework looking for a cool name")
         (h= :p#greeting (str "Hello " name)))))